.cards{
    display: flex;
    gap:20px;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}
.card{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}
.card:hover{
    box-shadow: 1px 16px 47px #00000040;
}
.card__flag{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 40px;
    height: 40px;
    left: 340px;
    top: 19px;
    background-image: url('../images/flagNormal.png');
}
.card__flag:hover{
    background-image: url('../images/flagHover.png');
}
.card__flag_active{
    background-image:url('../images/flagMarked.png');
}
.card__trash{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 40px;
    height: 40px;
    left: 340px;
    top: 19px;
    background-image: url('../images/trash.png');
    z-index: 9;
}
.card__trash:hover{
    background-image: url('../images/trashHover.png');
}
.card__keyword{
    background-color: #fff;
    position: absolute;
    margin: 0;
    height: auto;
    padding: 10px 15px;
    left: 23px;
    top: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.card__image{
    width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card__info{
    margin: 10px 24px;
}
.card__info-date{
    color:#B6BCBF;
}
.card__info-title{
    margin:0;
    font-size: 20px;
}
.card__info-text{
    margin-top: 14px;
    font-size: 17px;
}
.card__info-category{
    margin-top: auto;
    color:#B6BCBF;
    font-size: 18px;
}
 
@media (max-width:1024px) {
    .cards{
        padding:0;
        gap:10px
    }
    .card{
        width: 205px;
        height: 360px;
        border-radius: 16px;
    }
    .card__image{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .card__info{
        margin: 5px 13px;
    }
    .card__info-date{
        font-size: 12px;
    }
    .card__info-title{
        font-size: 19px;
    }
    .card__info-text{
        margin: 0;
        height:70px;
        margin-top: 7px;
        font-size: 15px;       
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .card__info-category{
        font-size: 15px;
        margin-top: 10px;
    }
    .card__flag{
        left: 152px;
        width: 35px;
        height: 35px;
    }
    .card__trash{
            width: 34px;
    height: 34px;
    left: 125px;
    }
    .card__keyword{
        font-size: 15px;
        padding: 8.5px 9px;
        left:7px;
    }   
}
@media (max-width:544px) {
    .cards{
        flex-direction: column;
        gap:15px;
    }
    .card{
        width: 270px;
        height: 416px;
    }
    .card__info-title{
        font-size: 24px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .card__info-text{
        margin-top: 17px;
        font-size: 16px;
        height: 76px;
    }
    .card__flag{
        top: 8px;
        left: 220px;
        width: 40px;
        height: 40px;
    }
    .card__trash{
        top: 8px;
        left: 220px;
        width: 40px;
        height: 40px;
    }
    .card__keyword{
        font-size: 20px;
        padding: 9px 11px;
        left: 13px;
    }
    .card__info-category{
        font-size: 20px;
    }
    

}