.nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}
.nav__text{
    cursor: pointer;
    margin: auto;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}
.nav__text:hover{
    opacity: 70%;
}
.nav__button-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto 0;
    background: transparent;
    width: 130px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    color:white
}
.nav__button-logout{
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    width: auto;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: white;
}
.nav__button-logout_black{
    border: 1px solid #000;
    color:#000
}
.nav__button-logout:hover{
    opacity: 70%;
}
.nav__button-image{
    margin:5px 5px 0;
    width: 15px;
}