.nav{
    display: flex;
    margin-left: auto;
}
.nav__text{
    cursor: pointer;
    margin: auto;
    margin-right: 30px;
}
.nav__text:hover{
    opacity: 70%;
}
.nav__button-signin{
    cursor: pointer;
    margin: auto 0;
    background: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
}
.nav__button-logout{
    cursor: pointer;
    background: none;
    width: auto;
    margin: auto;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
}
.nav__button-logout:hover{
    opacity: 70%;
}
.nav__button-image{
    margin:5px 5px 0;
    width: 10px;
}