.search{
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search__title{
    font-size: 90px;
    width: 730px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: lighter;
}
.search__subtitle{
    width: 730px;
    font-size: 23px;
    font-weight: lighter;
}
.search__form{
    display: flex;
    align-items: center;
    margin: 50px 0 60px;
    width: 745px;
    background-color: #fff;
    border-radius: 100px;
    overflow: hidden;
}
.form__input{
    flex: 1;
    border: none;
    color: rgb(164, 164, 164);
    margin:5px;
    font-size: 20px;
}
.form__input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.form__input-error{
    
}
.form__button{
    cursor: pointer;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 100px;
    color:#fff;
    background-color: #2F71E5;
    font-size: 20px;
}
.form__button:hover{
    background-color: #467ddc;
}

@media (max-width:1024px) {
    .search__title{
        margin:0;
        font-size: 59px;
        width: 534px;
    }
    .search__subtitle{
        width: 515px;
        font-size: 20px;
    }
    .search__form{
        width: 542px;
        margin-bottom: 45px;
    }
}
@media (max-width:544px) {
    .search__title{
        font-size: 43px;
        width: 281px;
        margin-top: 19px;
    }
    .search__subtitle {
        width: 281px;
        font-size: 20px;
    }
    .search__form {
        border-radius: 0;
        background: none;
        flex-direction: column;
        width: 312px;
        margin: 50px 0 0;
    }
    .form__input{
        padding: 17px 5px;
        border-radius: 26px;
        width: 283px;

    }
    .form__button{
        margin-top: 15px;
        width: 283px;
    }
}